ion-content.fondo {
  --background: none;
  background: url('/assets/images/fondo.png') no-repeat center center / cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 80px;
  padding: 20px;

  ion-input {
    width: 90%;
    max-width: 320px;
    margin-bottom: 15px;
    --background: rgba(0, 0, 0, 0.5);
    --color: white;
    --placeholder-color: #ccc;
    --highlight-color-focused: #fff;
    --border-color: white;
  }

  ion-button {
    margin-top: 20px;
    --background: #ccc;
    color: black;
    width: 90%;
    max-width: 320px;
    font-size: 16px;
  }
}

.logo-texto {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;

  h1 {
    font-family: serif;
    font-size: 60px;
    color: #f5d396;
  }

  img {
    margin-top: 10px;
    width: 100px;
  }
}
