<ion-content [fullscreen]="true" class="fondo">

  <div class="form-container">
    <ion-input label="Nombre" [(ngModel)]="usuario.nombre" fill="outline"></ion-input>
    <ion-input label="Apellido" [(ngModel)]="usuario.apellido" fill="outline"></ion-input>
    <ion-input label="Correo" type="email" [(ngModel)]="usuario.correo" fill="outline"></ion-input>
    <ion-input label="Teléfono" type="tel" [(ngModel)]="usuario.telefono" fill="outline"></ion-input>
    <ion-input label="Contraseña" type="password" [(ngModel)]="usuario.contrasena" fill="outline"></ion-input>

    <ion-button expand="block" (click)="registrarUsuario()">
      Registrar Usuario
    </ion-button>
  </div>

  <div class="logo-texto">
    <h1>Pacific Reef</h1>
    <img src="assets/images/logo.png" alt="Logo" />
  </div>

</ion-content>

