<ion-content [fullscreen]="true" class="fondo">

  <div class="form-container">
    <ion-input label="Correo" type="email" [(ngModel)]="correo" fill="outline"></ion-input>
    <ion-input label="Contraseña" type="password" [(ngModel)]="contrasena" fill="outline"></ion-input>

    <ion-button expand="block" (click)="login()">Iniciar Sesión</ion-button>
    <ion-button expand="block" fill="clear" (click)="irARegistro()">¿No tienes cuenta? Regístrate</ion-button>
  </div>

  <div class="logo-texto">
    <h1>Pacific Reef</h1>
    <img src="assets/images/logo.png" alt="Logo" />
  </div>

</ion-content>
