<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Por favor, inicia sesión para continuar.</strong>
    <!-- Aquí puedes agregar tus campos de formulario de login -->
    <ion-button expand="full" routerLink="/home">Iniciar sesión</ion-button>
  </div>
</ion-content>
