ion-content.fondo {
  --background: none;
  background: url('/assets/images/fondo.png') no-repeat center center / cover;
  position: relative;
  height: 100%;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* CENTRA EXACTAMENTE */
  
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(5px);

  ion-input {
    width: 100%;
    margin-bottom: 15px;
    --background: rgba(0, 0, 0, 0.5);
    --color: white;
    --placeholder-color: #ccc;
    --highlight-color-focused: #fff;
    --border-color: white;
  }

  ion-button {
    margin-top: 10px;
    --background: #ccc;
    color: black;
    width: 100%;
    font-size: 16px;
  }
}

.logo-texto {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;

  h1 {
    font-family: serif;
    font-size: 60px;
    color: #f5d396;
  }

  img {
    margin-top: 10px;
    width: 100px;
  }
}
